


.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 250px;
  
}

.container h2 {
  color: white;
  
}

.gridItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 100px;
  border-radius: 10px;
  border: 4px rgb(0, 132, 255) solid;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 14px;
  margin-right: 1em;
  margin: 2em;
  position: relative;
  overflow: hidden;
  padding-right: 5px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
  box-shadow: 5px 5px 15px 5px #000000; 
}

.gridItemContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  padding: 5px;
  top: 0;
  left: 100px; 
}

.gridItem button {
  position: absolute;
  right: 100px;
  top: 0;
  z-index: 1;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 0;
  background-color: #ff0000;
  margin-right: 5px;
  margin-top: 5px;
  color: white;
}

.gridItem p {
  margin: 0;
}

.gridNoItems {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 10%;
  background-color: #00000080;
  color: white;
  border-radius: 20px;
  padding: 1em;
  margin: 0 auto;
}